*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(
        135deg,
        #ffe5ec,
        #ffd6e0,
        #fff0f5
    );
    color:#333;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
font-family:'Great Vibes',cursive;
font-size:90px;
color:white;
text-shadow:
0 0 15px #ff4d88,
0 0 30px #ff4d88,
0 0 50px hotpink;
animation:brillo 2s infinite alternate;

}

@keyframes brillo{
from{
text-shadow:0 0 10px hotpink;

}

to{

text-shadow:
0 0 35px hotpink,
0 0 60px deeppink;

}

}

.hero p{
    margin-top:20px;
    font-size:1.2rem;
}

.galeria{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:30px;
}

.foto{
    width:320px;
    height:420px;
    overflow:hidden;
    border-radius:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}
.foto:hover{
    transform:scale(1.05);
}

.foto img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.mensaje{

    width:85%;
    max-width:1000px;
    margin:80px auto;
    background:white;
    padding:45px;
    border-radius:25px;
    box-shadow:0 12px 35px rgba(0,0,0,.18);

    text-align:center;

}
.mensaje h2{
    font-family:'Great Vibes',cursive;
    color:#ff4d88;
    font-size:4rem;
}

.mensaje p{
    margin-top:20px;
    line-height:2;
    font-size:1.1rem;
}

footer{
    text-align:center;
    padding:30px;
    background:#ff4d88;
    color:white;
    margin-top:40px;
}

.heart{
    position:fixed;
    bottom:-50px;
    font-size:30px;
    animation:flotar 10s linear infinite;
}

.heart:nth-child(1){left:10%;}
.heart:nth-child(2){left:30%; animation-delay:2s;}
.heart:nth-child(3){left:50%; animation-delay:4s;}
.heart:nth-child(4){left:70%; animation-delay:6s;}
.heart:nth-child(5){left:90%; animation-delay:8s;}

@keyframes flotar{
    0%{
        transform:translateY(0);
        opacity:0;
    }
    20%{
        opacity:1;
    }
    100%{
        transform:translateY(-110vh);
        opacity:0;
    }
}

.musica{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.corazon{

    width:130px;
    height:130px;
    border:none;
    border-radius:50%;
    font-size:60px;
    cursor:pointer;
    background:#ff4f8b;
    color:white;
    transition:.4s;
    box-shadow:0 0 30px hotpink;

}

.contenedor-corazon{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

    margin-top:20px;

}

.flecha{

    font-size:70px;

    color:#ff4d88;

    animation:apuntar 1s infinite;

}

@keyframes apuntar{

0%{

transform:translateX(0);

}

50%{

transform:translateX(-12px);

}

100%{

transform:translateX(0);

}

}.hearts span{

    position:fixed;
    bottom:-50px;
    font-size:30px;
    animation:subir 12s linear infinite;

}

.hearts span:nth-child(1){left:5%;}
.hearts span:nth-child(2){left:18%;animation-delay:2s;}
.hearts span:nth-child(3){left:32%;animation-delay:4s;}
.hearts span:nth-child(4){left:47%;animation-delay:6s;}
.hearts span:nth-child(5){left:61%;animation-delay:8s;}
.hearts span:nth-child(6){left:76%;animation-delay:3s;}
.hearts span:nth-child(7){left:88%;animation-delay:7s;}
.hearts span:nth-child(8){left:95%;animation-delay:10s;}

@keyframes subir{

0%{

transform:translateY(0);

opacity:0;

}

20%{

opacity:1;

}

100%{

transform:translateY(-120vh);

opacity:0;

}

}
}
.foto{

    animation:entrada 1.5s;

}

@keyframes entrada{

0%{

opacity:0;

transform:translateY(80px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

.carta{

    text-align:center;

    margin:80px auto;

}

.sobre{

    width:500px;
    height:380px;
    margin:auto;
    background:#ff7aa8;
    border-radius:15px;
    position:relative;
    cursor:pointer;
    box-shadow:0 15px 30px rgba(0,0,0,.25);
    display:flex;
    justify-content:center;
    align-items:flex-end;

}

.tapa{

    position:absolute;

    width:100%;

    height:100%;

    background:#ff5d8f;

    clip-path:polygon(0 0,100% 0,50% 60%);

    transition:1s;

    transform-origin:top;

}

.sobre:hover .tapa{

    transform:rotateX(180deg);

}

.mensaje-carta{

    position:absolute;
    left:50%;
    bottom:20px;
    transform:translateX(-50%) translateY(100px);
    width:78%;          
    max-width:380px;    
    height:0;
    overflow:hidden;
    background:white;
    border-radius:18px;
    padding:0 20px;
    line-height:1.8;
    transition:.8s;
    box-shadow:0 8px 20px rgba(0,0,0,.25);

}

.mensaje-carta h3{

    margin-top:20px;

}

.mostrar{

    height:300px;
    padding:20px;
    transform:translateX(-50%) translateY(-45px);
    overflow-y:auto;

}
.foto{

    position:relative;

}

.brillo{

    position:absolute;

    width:8px;

    height:8px;

    background:white;

    border-radius:50%;

    box-shadow:0 0 15px white;

    animation:brillar 2s infinite;

}

.uno{

    top:15%;

    left:10%;

}

.dos{

    top:70%;

    right:10%;

    animation-delay:.8s;

}

.tres{

    bottom:15%;

    left:50%;

    animation-delay:1.5s;

}

@keyframes brillar{

    0%{
        transform:scale(0);
        opacity:0;
    }

    50%{
        transform:scale(2);
        opacity:1;
    }

    100%{
        transform:scale(0);
        opacity:0;
    }

}

@keyframes aparecer{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.video{

    padding:80px 20px;

    text-align:center;

}

.video h2{

    font-family:'Great Vibes', cursive;

    font-size:65px;

    color:#ff4d88;

    margin-bottom:15px;

}

.video p{

    max-width:700px;

    margin:auto;

    margin-bottom:35px;

    font-size:18px;

}

.video-contenedor{

    display:flex;

    justify-content:center;

}

.video video{

    width:80%;

    max-width:850px;

    border-radius:25px;

    box-shadow:0 15px 40px rgba(0,0,0,.25);

    transition:.4s;

}

.video video:hover{

    transform:scale(1.02);

}